.wireframe {
  border: 1px solid black;
}

.login-box {
  margin-top: 75px;
  height: 500px;
  background-color: #FEFEFE;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.signup-box {
  margin-top: 75px;
  height: 550px;
  background-color: #FEFEFE;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header {
  margin-top: 15px;
  color: rgb(75, 75, 75);
}

.input-spacing {
  margin-top: 25px;
  margin-bottom: 15px;
}

.login-split {
  overflow: visible;
  padding: 0;
  color: #333;
  text-align: center;
}

.login-split::after {
  content: "or";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.25em;
  padding: 0 1em;
  background: #FEFEFE;
}