body {
  overflow-x: hidden;
}

.user-page-component {
  font-family: 'Open Sans', sans-serif;
}

.wireframe {
  border: 1px solid black;
}

.profile-pic {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 115px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 55px;
  margin-left: 32%;
  z-index: 2;
  box-shadow: 0px 1px 1px 0px;
}

.sub-menu {
  position: relative;
}

.img-background {
  height: 120px; 
  background-color: #B7C6CE; 
  z-index: 1;
}

.switch-button {
  margin-top: 23px;
}

.user-header {
  height: 60px;
}

.user-name {
  margin-top: 15px;
}

.user-body {
  margin-top: 25px; 
  background-color: #D8D8D8; 
  margin-left:5%; 
  margin-right:5%; 
  margin-bottom: 10px; 
  border-radius: 5px;
}

.user-badge {
  margin-top: 16px;
}

.card-box {
  margin-top: 55px;
  height: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.room {
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 0px;
}

.rooms-header {
  margin-top: 10px;
}

.rooms-list {
  height: 435px;
  overflow: hidden;
}

.rooms-list:hover {
  overflow-y: scroll;
}

/* CHAT STYLES */
.chat-messages {
  height: 435px;
  overflow: hidden;
}

.chat-messages:hover {
  overflow-y: scroll;
}

.clearLink {
  color: black
}

.chat-ul {
  max-height: 435px;
}

.chat {
  height: 500px;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.chat-footer {
  position: absolute;
  bottom: 15px;
  width: 100%
}

.list-group-item {
  border: none;
}

.otherMessage {
  background-color: rgb(241, 240, 240);
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.userMessage {
  background-color: #B7C6CE;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.text-div {
  margin-top: 15px;
  color: #4e4e4e;
}

.chat-profile-pic {
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chat-profile-pic:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Hides scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #A9BBC5;
  border-radius: 10px;
}
