.public-user-box {
  font-family: 'Quicksand', sans-serif;
  background-color: #F9FBFC;
  margin: auto;
}

.public {
  background-color: #D8D8D8;
  margin-top: 25px; 
  margin-right:5%;
  border-radius: 5px;
  height: 310px;
  width: 40%
}

.public-reviews-box {
  background-color: #D8D8D8;
  
  margin-top: 25px; 
  /* width: 40%; */
  height: 100px;
}

.public-profile-pic {
  background-color: #D8D8D8;
  box-shadow: 0px 2px 2px 0px;
  width: 50%;
  height: 180px;
  margin-top: 5px;
  margin-right: 100px;
  
}

.wireframe {
  border: 1px solid black
}